
<div class="row">
  <div class="shadow-lg col-sm-4 p-3">
  <div class="card">
    <div class="card-img-wrapper">
      <img class="card-img-top" [src]="Property.image" alt="">
    </div>
    <div class="card-body p-1">
      <h2>{{Property.Name}}</h2>
      <h3>{{Property.Type}}</h3>
      <h4>{{Property.Price}}</h4>
    </div>
    <ul class="list-inline p-2">
      <li class="list-inline-item">
        <button class="btn btn-info  btn-sm">Детали</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-info  btn-sm">Добавить в корзину</button>
      </li>
    </ul>
  </div>
  </div>
</div>

