<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.image" class="card-img-top" src="{{property.image}}">
        <img *ngIf="!property.image" class="card-img-top" src="">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{property.name}}</h1>
        <div>
          <strong>{{property.bhk}} -комн {{property.pType}} | {{property.price}}〒</strong>
        </div>
        <div>
          <strong>{{property.city}}</strong>
        </div>
        <hr>
        <div>
          <strong>Площадь: </strong>
          {{property.builtArea}}м²
        </div>
        <hr>
        <div>
          <strong>Описание: </strong>
          {{property.description}}
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Нравится</button>
          <button class="btn btn-success">Написать сообщение</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <tabset>
      <tab heading="Фотографии">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </tab>
      <tab heading="Контакты">
        <h1>Контактные данные</h1>
        Зарегистрируйтесь или войдите Ваш аккаунт, чтобы увидеть данные
      </tab>
    </tabset>
  </div>
</div>
